apiVersion: apps/v1
kind: Deployment
metadata:
  name: accounts
spec:
  replicas: 0
  selector:
    matchLabels:
      app: accounts
  template:
    metadata:
      labels:
        app: accounts
    spec:
      containers:
        - name: accounts
          image: aditya9389/banking-accounts:v1.0.2
          ports:
            - containerPort: 8081
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: kubernetes
