apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 0
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: aditya9389/banking-frontend:v1.0.1  # or whatever tag you used
          ports:
            - containerPort: 80
